{% extends "layout.html" %}
{% block body %}
<container>
    <div class="columns is-centered">
        <div class="column is-half">
            <h2 class="is-size-2">Convert Video to 3D model</h2>
            <div class="field">
                <div class="file is-centered is-boxed is-success has-name">
                    <label class="file-label">
                      <input class="file-input" type="file" id="file">
                      <span class="file-cta">
                        <span class="file-icon">
                          <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label">
                          Upload file…
                        </span>
                      </span>
                      <span class="file-name" id="filename">
                      </span>
                    </label>
                </div>
            </div>
            <div class="field is-pulled-right">
                <button class="button is-info" id="button-upload">
                    Upload
                </button>
            </div>
            <div id="progress" class="has-text-centered">
            </div>
        </div>
    </div>
</container>
<script type="text/javascript">
    const progress = document.querySelector("#progress");
    const file = document.querySelector("#file");
    const filename = document.querySelector("#filename");
    const buttonUpload = document.querySelector("#button-upload");

    buttonUpload.addEventListener("click", () => {
        if (file.files.length == 0)
        {
            progress.innerText = "Please add the file you want to convert";
            return;
        }

        let tokens = file.value.split('\\');
        filename.innerText = tokens[tokens.length-1];

        progress.innerHTML = `<img src="/static/img/loading.gif" />`;

        let formData = new FormData();
        formData.append('file', file.files[0]);

        fetch(`/api/convert`, {
            method: "POST",
            body: formData,
        })
        .then((data) => data.json())
        .then((decoded_data) => {
            if (decoded_data.success === true) {
                progress.innerText = `<a href="${decoded_data.message}" class="button is-info">Download</a>`;
            } else {
                progress.innerText = `Error happened, reason: ${decoded_data.message}`;
            }
        })
    });
</script>
{% endblock %}