<!DOCTYPE html>
<head>
    <script defer src="/static/js/font-awesome.js"></script>
    <link rel="stylesheet" href="/static/css/bulma.min.css">
    <script type="text/javascript" src="/static/vendor/jquery-3.4.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <style>
        nav{
            padding:10px 0px;
        }
    </style>
</head>
<body>
    {% include "navbar.html" %}
    {% block body %}
    {% endblock %}
    <script type="text/javascript" src="/static/js/main.js"></script>
</body>