<!DOCTYPE html>
<head>
    <script defer src="/static/js/font-awesome.js"></script>
    <link rel="stylesheet" href="/static/css/bulma.min.css">
    <script type="text/javascript" src="/static/vendor/jquery-3.4.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <style>
        nav{
            padding:10px 0px;
        }
    </style>
    {% if current_user %}
        <script type="text/javascript" src="/profile.js"></script>
    {% endif %}
</head>
<body>
    {% include "navbar.html" %}
    <main style="margin-top:20px;">
        {% block body %}
        {% endblock %}
    </main>
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script>
        refreshTrolley();
    </script>
</body>